VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
VITE_OUTMAIL_KEY={"key": "key_v24f...."}
VITE_OUTMAIL_TOKEN_ACCESS=
VITE_OUTMAIL_TOKEN_REFRESH=